{% extends "./dashboard_base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "codemirror/lib/codemirror.css" %}">
<link rel="stylesheet" href="{% static "codemirror/addon/hint/show-hint.css" %}">
<link rel="stylesheet" href="{% static "codemirror/addon/hint/show-hint.js" %}">
<link rel="stylesheet" href="{% static "codemirror/addon/hint/css-hint.js" %}">
<link rel="stylesheet" href="{% static "codemirror/theme/eclipse.css" %}">

<style>
  .body {
    display: flex;
    flex-direction: column;
  }

  .headerText {
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
  }

  .form-row {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .control-label {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
  }

  .name {
    width: 40%;
  }

  .description {
    resize: none;
    width: 60%;
  }

  .code {
    resize: none;
  }

  .CodeMirror {
    height: auto;
    width: 100%;
    border: 1px solid #000000;
    extraKeys: ("Ctrl-Space": "autocomplete");
  }

  .btn {
    padding: 0.5em 2vw;
    margin-right: 0.4vw;
    border: 1px solid #4451b2;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    background-color: #ffffff;
    color: #4451b2;
  }

  .btn:hover {
    background-color: #4451b2;
    color: #ffffff;
  }

  .btn-propose {
    background-color: #4451b2;
    color: #ffffff;
  }

  .btn-propose:hover {
    background-color: #3b4699;
    color: #ffffff;
  }

  .marker {
    position: relative;
    color: #ff0000;
    width: 10px !important;
    margin-left: 4px;
  }

  .marker .tooltip {
    visibility: hidden;
    width: 400px;
    background-color: #f5f5b5;
    color: #000000;
    border: 1px solid #000000;
    padding: 2px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    opacity: 0;
  }

  .marker:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
</style>
{% endblock %}

{% block content %}
<div class="body">
  <div class="form-row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
      {% if operation == "Add" %}
        <h3 class="headerText">Propose a new {{type|lower}} policy</h3>
      {% elif operation == "Change" %}
        <h3 class="headerText">Propose edits to this {{type|lower}} policy</h3>
      {% endif %}
    </div>
  </div>

  <div class="form-row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
      <button type="button" class="btn" id="upload">Upload policy</button>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-1" for="name">Name</label>
    <div class="col-sm-11">
      <input type="text" class="form-control name" id="name" required>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-1" for="description">Description</label>
    <div class="col-sm-11">
      <textarea class="form-control description" id="description" rows="6"></textarea>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-1" for="filter">Filter</label>
    <div class="col-sm-11">
      <textarea class="form-control code" id="filter" required rows="3"></textarea>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-1" for="initialize">Initialize</label>
    <div class="col-sm-11">
      <textarea class="form-control code" id="initialize" required rows="3"></textarea>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-1" for="check">Check</label>
    <div class="col-sm-11">
      <textarea class="form-control code" id="check" required rows="3"></textarea>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-1" for="notify">Notify</label>
    <div class="col-sm-11">
      <textarea class="form-control code" id="notify" required rows="3"></textarea>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-1" for="pass">Pass</label>
    <div class="col-sm-11">
      <textarea class="form-control code" id="pass" required rows="3"></textarea>
    </div>
  </div>

  <div class="form-row">
    <label class="control-label col-sm-1" for="fail">Fail</label>
    <div class="col-sm-11">
      <textarea class="form-control code" id="fail" required rows="3"></textarea>
    </div>
  </div>

  <div class="form-row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
      {% if operation == "Add" %}
        <button type="button" class="btn btn-propose" id="propose">Propose policy</button>
      {% elif operation == "Change" %}
        <button type="button" class="btn btn-propose" id="propose">Propose edits</button>
      {% endif %}
      <button type="button" class="btn" id="download">Download policy</button>
      <button type="button" class="btn" id="documentation">View documentation</button>
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-1"></div>
    <div class="control-label col-sm-11">
      <div id="alerts"></div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src={% static "codemirror/lib/codemirror.js" %}></script>
<link rel="stylesheet" type="text/css" href={% static "codemirror/lib/codemirror.css" %}/>
<script src={% static "codemirror/mode/python/python.js" %}></script>
<script src={% static "codemirror/addon/hint/show-hint.js" %}></script>
<link rel="stylesheet" type="text/css" href={% static "codemirror/addon/hint/show-hint.css" %}/>
<script src={% static "codemirror/addon/hint/python-hint.js" %}></script>
<script src={% static "codemirror/addon/display/autorefresh.js" %}></script>
<script>
  /**
 * lodash (Custom Build) <https://lodash.com/>
 * Build: `lodash modularize exports="npm" -o ./`
 * Copyright jQuery Foundation and other contributors <https://jquery.org/>
 * Released under MIT license <https://lodash.com/license>
 * Based on Underscore.js 1.8.3 <http://underscorejs.org/LICENSE>
 * Copyright Jeremy Ashkenas, DocumentCloud and Investigative Reporters & Editors
 */

/** Used as the `TypeError` message for "Functions" methods. */
var FUNC_ERROR_TEXT = 'Expected a function';

/** Used as references for various `Number` constants. */
var NAN = 0 / 0;

/** `Object#toString` result references. */
var symbolTag = '[object Symbol]';

/** Used to match leading and trailing whitespace. */
var reTrim = /^\s+|\s+$/g;

/** Used to detect bad signed hexadecimal string values. */
var reIsBadHex = /^[-+]0x[0-9a-f]+$/i;

/** Used to detect binary string values. */
var reIsBinary = /^0b[01]+$/i;

/** Used to detect octal string values. */
var reIsOctal = /^0o[0-7]+$/i;

/** Built-in method references without a dependency on `root`. */
var freeParseInt = parseInt;

/** Detect free variable `global` from Node.js. */
var freeGlobal = typeof global == 'object' && global && global.Object === Object && global;

/** Detect free variable `self`. */
var freeSelf = typeof self == 'object' && self && self.Object === Object && self;

/** Used as a reference to the global object. */
var root = freeGlobal || freeSelf || Function('return this')();

/** Used for built-in method references. */
var objectProto = Object.prototype;

/**
 * Used to resolve the
 * [`toStringTag`](http://ecma-international.org/ecma-262/7.0/#sec-object.prototype.tostring)
 * of values.
 */
var objectToString = objectProto.toString;

/* Built-in method references for those with the same name as other `lodash` methods. */
var nativeMax = Math.max,
    nativeMin = Math.min;

/**
 * Gets the timestamp of the number of milliseconds that have elapsed since
 * the Unix epoch (1 January 1970 00:00:00 UTC).
 *
 * @static
 * @memberOf _
 * @since 2.4.0
 * @category Date
 * @returns {number} Returns the timestamp.
 * @example
 *
 * _.defer(function(stamp) {
 *   console.log(_.now() - stamp);
 * }, _.now());
 * // => Logs the number of milliseconds it took for the deferred invocation.
 */
var now = function() {
  return root.Date.now();
};

/**
 * Creates a debounced function that delays invoking `func` until after `wait`
 * milliseconds have elapsed since the last time the debounced function was
 * invoked. The debounced function comes with a `cancel` method to cancel
 * delayed `func` invocations and a `flush` method to immediately invoke them.
 * Provide `options` to indicate whether `func` should be invoked on the
 * leading and/or trailing edge of the `wait` timeout. The `func` is invoked
 * with the last arguments provided to the debounced function. Subsequent
 * calls to the debounced function return the result of the last `func`
 * invocation.
 *
 * **Note:** If `leading` and `trailing` options are `true`, `func` is
 * invoked on the trailing edge of the timeout only if the debounced function
 * is invoked more than once during the `wait` timeout.
 *
 * If `wait` is `0` and `leading` is `false`, `func` invocation is deferred
 * until to the next tick, similar to `setTimeout` with a timeout of `0`.
 *
 * See [David Corbacho's article](https://css-tricks.com/debouncing-throttling-explained-examples/)
 * for details over the differences between `_.debounce` and `_.throttle`.
 *
 * @static
 * @memberOf _
 * @since 0.1.0
 * @category Function
 * @param {Function} func The function to debounce.
 * @param {number} [wait=0] The number of milliseconds to delay.
 * @param {Object} [options={}] The options object.
 * @param {boolean} [options.leading=false]
 *  Specify invoking on the leading edge of the timeout.
 * @param {number} [options.maxWait]
 *  The maximum time `func` is allowed to be delayed before it's invoked.
 * @param {boolean} [options.trailing=true]
 *  Specify invoking on the trailing edge of the timeout.
 * @returns {Function} Returns the new debounced function.
 * @example
 *
 * // Avoid costly calculations while the window size is in flux.
 * jQuery(window).on('resize', _.debounce(calculateLayout, 150));
 *
 * // Invoke `sendMail` when clicked, debouncing subsequent calls.
 * jQuery(element).on('click', _.debounce(sendMail, 300, {
 *   'leading': true,
 *   'trailing': false
 * }));
 *
 * // Ensure `batchLog` is invoked once after 1 second of debounced calls.
 * var debounced = _.debounce(batchLog, 250, { 'maxWait': 1000 });
 * var source = new EventSource('/stream');
 * jQuery(source).on('message', debounced);
 *
 * // Cancel the trailing debounced invocation.
 * jQuery(window).on('popstate', debounced.cancel);
 */
function debounce(func, wait, options) {
  var lastArgs,
      lastThis,
      maxWait,
      result,
      timerId,
      lastCallTime,
      lastInvokeTime = 0,
      leading = false,
      maxing = false,
      trailing = true;

  if (typeof func != 'function') {
    throw new TypeError(FUNC_ERROR_TEXT);
  }
  wait = toNumber(wait) || 0;
  if (isObject(options)) {
    leading = !!options.leading;
    maxing = 'maxWait' in options;
    maxWait = maxing ? nativeMax(toNumber(options.maxWait) || 0, wait) : maxWait;
    trailing = 'trailing' in options ? !!options.trailing : trailing;
  }

  function invokeFunc(time) {
    var args = lastArgs,
        thisArg = lastThis;

    lastArgs = lastThis = undefined;
    lastInvokeTime = time;
    result = func.apply(thisArg, args);
    return result;
  }

  function leadingEdge(time) {
    // Reset any `maxWait` timer.
    lastInvokeTime = time;
    // Start the timer for the trailing edge.
    timerId = setTimeout(timerExpired, wait);
    // Invoke the leading edge.
    return leading ? invokeFunc(time) : result;
  }

  function remainingWait(time) {
    var timeSinceLastCall = time - lastCallTime,
        timeSinceLastInvoke = time - lastInvokeTime,
        result = wait - timeSinceLastCall;

    return maxing ? nativeMin(result, maxWait - timeSinceLastInvoke) : result;
  }

  function shouldInvoke(time) {
    var timeSinceLastCall = time - lastCallTime,
        timeSinceLastInvoke = time - lastInvokeTime;

    // Either this is the first call, activity has stopped and we're at the
    // trailing edge, the system time has gone backwards and we're treating
    // it as the trailing edge, or we've hit the `maxWait` limit.
    return (lastCallTime === undefined || (timeSinceLastCall >= wait) ||
      (timeSinceLastCall < 0) || (maxing && timeSinceLastInvoke >= maxWait));
  }

  function timerExpired() {
    var time = now();
    if (shouldInvoke(time)) {
      return trailingEdge(time);
    }
    // Restart the timer.
    timerId = setTimeout(timerExpired, remainingWait(time));
  }

  function trailingEdge(time) {
    timerId = undefined;

    // Only invoke if we have `lastArgs` which means `func` has been
    // debounced at least once.
    if (trailing && lastArgs) {
      return invokeFunc(time);
    }
    lastArgs = lastThis = undefined;
    return result;
  }

  function cancel() {
    if (timerId !== undefined) {
      clearTimeout(timerId);
    }
    lastInvokeTime = 0;
    lastArgs = lastCallTime = lastThis = timerId = undefined;
  }

  function flush() {
    return timerId === undefined ? result : trailingEdge(now());
  }

  function debounced() {
    var time = now(),
        isInvoking = shouldInvoke(time);

    lastArgs = arguments;
    lastThis = this;
    lastCallTime = time;

    if (isInvoking) {
      if (timerId === undefined) {
        return leadingEdge(lastCallTime);
      }
      if (maxing) {
        // Handle invocations in a tight loop.
        timerId = setTimeout(timerExpired, wait);
        return invokeFunc(lastCallTime);
      }
    }
    if (timerId === undefined) {
      timerId = setTimeout(timerExpired, wait);
    }
    return result;
  }
  debounced.cancel = cancel;
  debounced.flush = flush;
  return debounced;
}

/**
 * Checks if `value` is the
 * [language type](http://www.ecma-international.org/ecma-262/7.0/#sec-ecmascript-language-types)
 * of `Object`. (e.g. arrays, functions, objects, regexes, `new Number(0)`, and `new String('')`)
 *
 * @static
 * @memberOf _
 * @since 0.1.0
 * @category Lang
 * @param {*} value The value to check.
 * @returns {boolean} Returns `true` if `value` is an object, else `false`.
 * @example
 *
 * _.isObject({});
 * // => true
 *
 * _.isObject([1, 2, 3]);
 * // => true
 *
 * _.isObject(_.noop);
 * // => true
 *
 * _.isObject(null);
 * // => false
 */
function isObject(value) {
  var type = typeof value;
  return !!value && (type == 'object' || type == 'function');
}

/**
 * Checks if `value` is object-like. A value is object-like if it's not `null`
 * and has a `typeof` result of "object".
 *
 * @static
 * @memberOf _
 * @since 4.0.0
 * @category Lang
 * @param {*} value The value to check.
 * @returns {boolean} Returns `true` if `value` is object-like, else `false`.
 * @example
 *
 * _.isObjectLike({});
 * // => true
 *
 * _.isObjectLike([1, 2, 3]);
 * // => true
 *
 * _.isObjectLike(_.noop);
 * // => false
 *
 * _.isObjectLike(null);
 * // => false
 */
function isObjectLike(value) {
  return !!value && typeof value == 'object';
}

/**
 * Checks if `value` is classified as a `Symbol` primitive or object.
 *
 * @static
 * @memberOf _
 * @since 4.0.0
 * @category Lang
 * @param {*} value The value to check.
 * @returns {boolean} Returns `true` if `value` is a symbol, else `false`.
 * @example
 *
 * _.isSymbol(Symbol.iterator);
 * // => true
 *
 * _.isSymbol('abc');
 * // => false
 */
function isSymbol(value) {
  return typeof value == 'symbol' ||
    (isObjectLike(value) && objectToString.call(value) == symbolTag);
}

/**
 * Converts `value` to a number.
 *
 * @static
 * @memberOf _
 * @since 4.0.0
 * @category Lang
 * @param {*} value The value to process.
 * @returns {number} Returns the number.
 * @example
 *
 * _.toNumber(3.2);
 * // => 3.2
 *
 * _.toNumber(Number.MIN_VALUE);
 * // => 5e-324
 *
 * _.toNumber(Infinity);
 * // => Infinity
 *
 * _.toNumber('3.2');
 * // => 3.2
 */
function toNumber(value) {
  if (typeof value == 'number') {
    return value;
  }
  if (isSymbol(value)) {
    return NAN;
  }
  if (isObject(value)) {
    var other = typeof value.valueOf == 'function' ? value.valueOf() : value;
    value = isObject(other) ? (other + '') : other;
  }
  if (typeof value != 'string') {
    return value === 0 ? value : +value;
  }
  value = value.replace(reTrim, '');
  var isBinary = reIsBinary.test(value);
  return (isBinary || reIsOctal.test(value))
    ? freeParseInt(value.slice(2), isBinary ? 2 : 8)
    : (reIsBadHex.test(value) ? NAN : +value);
}
</script>


<script>
  document.getElementById("upload").addEventListener("click", upload);
  document.getElementById("propose").addEventListener("click", propose);
  document.getElementById("download").addEventListener("click", download);
  document.getElementById("documentation").addEventListener("click", documentation);

  function documentation() {
    window.open(`https://policykit.readthedocs.io/en/latest/index.html`, '_blank');
  }

  function propose() {
    const name = document.getElementById("name").value;
    const description = document.getElementById("description").value;
    const filter = document.getElementById("filter").nextSibling.CodeMirror.getValue();
    const initialize = document.getElementById("initialize").nextSibling.CodeMirror.getValue();
    const check = document.getElementById("check").nextSibling.CodeMirror.getValue();
    const notify = document.getElementById("notify").nextSibling.CodeMirror.getValue();
    const success = document.getElementById("pass").nextSibling.CodeMirror.getValue();
    const fail = document.getElementById("fail").nextSibling.CodeMirror.getValue();

    fetch('../../../main/policyengine/policy_action_save', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        'type': `{{type}}`,
        'operation': `{{operation}}`,
        'policy': `{{policy}}`,
        'name': name,
        'description': description,
        'is_bundled': false,
        'filter': filter,
        'initialize': initialize,
        'check': check,
        'notify': notify,
        'success': success,
        'fail': fail
      })
    }).then(response => {
      if (!response.ok) {
          response.text().then(text => {
            console.error(text)
            msg = "Something went wrong."
            $('#alerts').html(msg).css("color", "red");
          })
        } else {
          window.location.href = "{{server_url}}/main/";
        }
    });
  }

  // https://stackoverflow.com/questions/7394748/whats-the-right-way-to-decode-a-string-that-has-special-html-entities-in-it
  function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
  }

  {% if name %}
    document.getElementById('name').value = decodeHtml(`{{name}}`)
  {% endif %}

  {% if description %}
    document.getElementById('description').value = decodeHtml(`{{description}}`)
  {% endif %}

  const DEFAULT_VALUES = {
    "filter": "return True\n\n",
    "initialize": "pass\n\n",
    "check": "return PASSED\n\n",
    "notify": "pass\n\n",
    "pass": "action.execute()\n\n",
    "fail": "pass\n\n"
  };

  CodeMirror.defineOption('functionName', 'filter', (cm, val) => { return; });

  var editors = [];

  for (let i = 0; i < Object.keys(DEFAULT_VALUES).length; i++) {
    var code_id = Object.keys(DEFAULT_VALUES)[i];
    var textArea = document.getElementById(code_id);
    editors.push(CodeMirror.fromTextArea(textArea, {
        mode: 'python',
        autoRefresh: true,
        lineNumbers: true,
        theme: 'eclipse',
        extraKeys: {"Ctrl-Space": "autocomplete"},
        matchBrackets: true,
        gutters: ['warnings'],
        functionName: code_id
    }));

    switch (i) {
      case 0:
        {% if filter %}
          editors[i].setValue(decodeHtml(`{{filter}}`));
          break;
        {% endif %}
      case 1:
        {% if initialize %}
          editors[i].setValue(decodeHtml(`{{initialize}}`));
          break;
        {% endif %}
      case 2:
        {% if check %}
          editors[i].setValue(decodeHtml(`{{check}}`));
          break;
        {% endif %}
      case 3:
        {% if notify %}
          editors[i].setValue(decodeHtml(`{{notify}}`));
          break;
        {% endif %}
      case 4:
        {% if success %}
          editors[i].setValue(decodeHtml(`{{success}}`));
          break;
        {% endif %}
      case 5:
        {% if fail %}
          editors[i].setValue(decodeHtml(`{{fail}}`));
          break;
        {% endif %}
      default:
        editors[i].setValue(decodeHtml(DEFAULT_VALUES[code_id]));
    }

    // https://stackoverflow.com/questions/11401317/autocomplete-for-python-in-codemirror
    editors[i].on('inputRead', function onChange(editor, input) {
        if (input.text[0] === ';' || input.text[0] === ' ' || input.text[0] === ":") {
            return;
        }
        editor.showHint({ hint: CodeMirror.pythonHint });
    });

    editors[i].on('change', debounce((cm, change) => {
      fetch('../../../main/policyengine/error_check', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          'code': cm.getValue(),
          'function_name': cm.getOption('functionName')
        })
      })
      .then(response => response.json())
      .then(data => {
        cm.clearGutter('warnings')

        if (data.errors.length > 0) {
          for (const error of data.errors) {
            const marker = document.createElement('div')
            marker.classList.add('marker')
            marker.innerHTML = '●'

            const tooltip = document.createElement('span')
            tooltip.classList.add('tooltip')
            tooltip.innerHTML = error
            marker.appendChild(tooltip)

            const lineno = parseInt(error.substring(0, error.indexOf(':')))
            cm.setGutterMarker(lineno - 1, 'warnings', marker)
          }
        }
      })
    }, 1000))
  }

  function is_policy_default() {
    if (document.getElementById('name').value != "") {
      return false;
    }
    if (document.getElementById('description').value != "") {
      return false;
    }
    for (let i = 0; i < Object.keys(DEFAULT_VALUES).length; i++) {
      if (editors[i].getValue() != Object.values(DEFAULT_VALUES)[i]) {
        return false;
      }
    }
    return true;
  }

  function upload(type) {
    if (is_policy_default() || confirm("Warning: This will overwrite your policy code! Are you sure you want to upload a policy?")) {
      // User selects which policy they would like to upload. Policy is read into a json object.
      let input_elem = document.createElement('input');
      input_elem.type = 'file';
      input_elem.onchange = e => {
        let reader = new FileReader();
        reader.onload = e => {
          let policy_data = JSON.parse(e.target.result);

          document.getElementById('name').value = decodeHtml(`${policy_data.name}`);
          document.getElementById('description').value = decodeHtml(`${policy_data.description}`);
          editors[0].setValue(decodeHtml(`${policy_data.filter}`));
          editors[1].setValue(decodeHtml(`${policy_data.initialize}`));
          editors[2].setValue(decodeHtml(`${policy_data.check}`));
          editors[3].setValue(decodeHtml(`${policy_data.notify}`));
          editors[4].setValue(decodeHtml(`${policy_data.success}`));
          editors[5].setValue(decodeHtml(`${policy_data.fail}`));
        }
        reader.readAsText(e.target.files[0]);
      }
      input_elem.click();
    }
  }

  function download() {
    const name = document.getElementById("name").value;

    let policy_data = {
      'name': name,
      'description': document.getElementById("description").value,
      'is_bundled': false,
      'filter': document.getElementById("filter").nextSibling.CodeMirror.getValue(),
      'initialize': document.getElementById("initialize").nextSibling.CodeMirror.getValue(),
      'check': document.getElementById("check").nextSibling.CodeMirror.getValue(),
      'notify': document.getElementById("notify").nextSibling.CodeMirror.getValue(),
      'success': document.getElementById("pass").nextSibling.CodeMirror.getValue(),
      'fail': document.getElementById("fail").nextSibling.CodeMirror.getValue()
    };

    let policy_data_string = 'data:text/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(policy_data));

    // Only allow alphanumeric characters and underscores in the filename
    let filename = name.replace(/[^0-9a-zA-Z]/g, "_") + ".txt";

    // https://stackoverflow.com/questions/45831191/generate-and-download-file-from-js
    let download_elem = document.createElement('a');
    download_elem.setAttribute('href', policy_data_string);
    download_elem.setAttribute('download', filename);
    download_elem.style.display = 'none';
    document.body.appendChild(download_elem);
    download_elem.click();
    document.body.removeChild(download_elem);
  }
</script>
{% endblock %}
